<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>launchd.ots-cot-parser</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/YOUR_USERNAME/.opentakserver_venv/bin/python</string>
      <string>-c</string>
      <string>
import os
os.environ['OBJC_DISABLE_INITIALIZE_FORK_SAFETY'] = 'YES'

from opentakserver.cot_parser.cot_parser import app, logger, db, CoTController, child_processes
from flask_socketio import SocketIO

sio = SocketIO(message_queue='amqp://' + app.config.get('OTS_RABBITMQ_SERVER_ADDRESS'))
cot_parser = CoTController(app.app_context(), logger, db, sio)
print('cot_parser running (no fork)...')
cot_parser.run()
      </string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/YOUR_USERNAME/ots</string>
    <key>UserName</key>
    <string>YOUR_USERNAME</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>Crashed</key>
      <true/>
      <key>OtherJobEnabled</key>
      <dict>
        <key>homebrew.mxcl.rabbitmq</key>
        <true/>
      </dict>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>OBJC_DISABLE_INITIALIZE_FORK_SAFETY</key>
      <string>YES</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/YOUR_USERNAME/ots/logs/cot-parser.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/YOUR_USERNAME/ots/logs/cot-parser.log</string>
  </dict>
</plist>
