<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>launchd.ots-eud-handler-ssl</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>$HOME/.opentakserver_venv/bin/eud_handler --ssl</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/YOUR_USERNAME/ots</string>
    <key>UserName</key>
    <string>YOUR_USERNAME</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>Crashed</key>
      <true/>
      <key>OtherJobEnabled</key>
      <dict>
        <key>homebrew.mxcl.rabbitmq</key>
        <true/>
      </dict>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/YOUR_USERNAME/ots/logs/eud-handler-ssl.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/YOUR_USERNAME/ots/logs/eud-handler-ssl.log</string>
  </dict>
</plist>
